<article class="comment">
    <div class="comment-container" [class.focus]="isFocused" (click)="commentFocus($event)">
        <div class="img-container">
            <img src="../../../assets/users/{{comment.ownerId}}.jpg" alt="">
        </div>
        <div class="comment-info">
            <h5>{{comment.ownerName}}</h5>
            <h5>{{comment.createdAt | timeDesc}}</h5>
        </div>
        <div class="comment-txt">
            <p #txt contentEditable="{{isEditable}}">{{comment.txt}}</p>
        </div>
        <div class="btn-container">
            <button class="link-btn" (click)="onToggleChildComments()" *ngIf="comment.children.length">
                {{isChildCommentsOpen ? 'Hide comments' : 'Show comments'}}
            </button>
        </div>
        <div class="edit-btns-container" *ngIf="isByCurrUser">
            <button class="btn" (click)="onDelete($event)">DELETE</button>
            <button *ngIf="!isEditable" class="btn" (click)="onToggleIsEditable($event)">EDIT</button>
            <button *ngIf="isEditable" class="btn" (click)="onUpdate($event)">SAVE</button>
        </div>
    </div>
    <ul class="child-comments-list" *ngIf="isChildCommentsOpen">
        <comments-list [focusedCommentId]="focusedCommentId" [comments]="comment.children"
            (onCommentFocus)="onCommentFocus.emit($event)"></comments-list>
    </ul>
</article>